<html ng-app="app">
<head>
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/ws-client-test.js"></script>
    <link rel="stylesheet" href="css/client-test.css">
</head>
<body>



    <div ng-controller="paramTable">
Server URL: <input type="text" size="100" maxlength="100" ng-model="serverUrl">

        <table id="tfhover" class="tftable" border="1">
            <tr>
                <th></th>
                <th>Device 1</th>
                <th>Device 2</th>
                <th>Device 3</th>
                <th>Device 4</th>
            </tr>
            <tr>
                <td class="vertical-header">Request Type</td>
                <td><input class="table-input" ng-model="dev1rtype"></td>
                <td><input class="table-input" ng-model="dev2rtype"></td>
                <td><input class="table-input" ng-model="dev3rtype"></td>
                <td><input class="table-input" ng-model="dev4rtype"></td>
            </tr>
            <tr>
                <td class="vertical-header">API Key</td>
                <td><input class="table-input" ng-model="dev1apikey"></td>
                <td><input class="table-input" ng-model="dev2apikey"></td>
                <td><input class="table-input" ng-model="dev3apikey"></td>
                <td><input class="table-input" ng-model="dev4apikey"></td>
            </tr>
            <tr>
                <td class="vertical-header">App ID</td>
                <td><input class="table-input" ng-model="dev1appId"></td>
                <td><input class="table-input" ng-model="dev2appId"></td>
                <td><input class="table-input" ng-model="dev3appId"></td>
                <td><input class="table-input" ng-model="dev4appId"></td>
            </tr>
            <tr>
                <td class="vertical-header">Device ID</td>
                <td><input class="table-input" ng-model="dev1devid"></td>
                <td><input class="table-input" ng-model="dev2devid"></td>
                <td><input class="table-input" ng-model="dev3devid"></td>
                <td><input class="table-input" ng-model="dev4devid"></td>
            </tr>
            <tr>
                <td class="vertical-header">Latitude</td>
                <td><input class="table-input" ng-model="dev1lat"></td>
                <td><input class="table-input" ng-model="dev2lat"></td>
                <td><input class="table-input" ng-model="dev3lat"></td>
                <td><input class="table-input" ng-model="dev4lat"></td>
            </tr>
            <tr>
                <td class="vertical-header">Longitude</td>
                <td><input class="table-input" ng-model="dev1lon"></td>
                <td><input class="table-input" ng-model="dev2lon"></td>
                <td><input class="table-input" ng-model="dev3lon"></td>
                <td><input class="table-input" ng-model="dev4lon"></td>
            </tr>
            <tr>
                <td class="vertical-header">Swipe START</td>
                <td><input class="table-input" ng-model="dev1ss"></td>
                <td><input class="table-input" ng-model="dev2ss"></td>
                <td><input class="table-input" ng-model="dev3ss"></td>
                <td><input class="table-input" ng-model="dev4ss"></td>
            </tr>
            <tr>
                <td class="vertical-header">Swipe END</td>
                <td><input class="table-input" ng-model="dev1se"></td>
                <td><input class="table-input" ng-model="dev2se"></td>
                <td><input class="table-input" ng-model="dev3se"></td>
                <td><input class="table-input" ng-model="dev4se"></td>
            </tr>
            <tr>
                <td class="vertical-header">Payload</td>
                <td><input class="table-input" ng-model="dev1pl"></td>
                <td><input class="table-input" ng-model="dev2pl"></td>
                <td><input class="table-input" ng-model="dev3pl"></td>
                <td><input class="table-input" ng-model="dev4pl"></td>
            </tr>
            <tr>
                <td class="vertical-header">Eq Param</td>
                <td><input class="table-input" ng-model="dev1ep"></td>
                <td><input class="table-input" ng-model="dev2ep"></td>
                <td><input class="table-input" ng-model="dev3ep"></td>
                <td><input class="table-input" ng-model="dev4ep"></td>
            </tr>
        </table>

        <br>
        <span class="result-api-call">{{dev1url}}</span><br>
        <span class="result-api-call">{{dev2url}}</span><br>
        <span class="result-api-call">{{dev3url}}</span><br>
        <span class="result-api-call">{{dev4url}}</span>
        <br><br>

        <br>
        <span class="result-api-call">{{dev1urlHTTP}}</span><br>
        <span class="result-api-call">{{dev2urlHTTP}}</span><br>
        <span class="result-api-call">{{dev3urlHTTP}}</span><br>
        <span class="result-api-call">{{dev4urlHTTP}}</span>
        <br><br>

        <button ng-click="connect1()">connect dev1</button>
        <button ng-click="connect2()">connect dev2</button>
        <button ng-click="connect3()">connect dev3</button>
        <button ng-click="connect4()">connect dev4</button><br><br>

        <button ng-click="connect1HTTP()">connect dev1 HTTP</button>
        <button ng-click="connect2HTTP()">connect dev2 HTTP</button>
        <button ng-click="connect3HTTP()">connect dev3 HTTP</button>
        <button ng-click="connect4HTTP()">connect dev4 HTTP</button><br><br>

        <input type="text" ng-model="msg1" ng-name"msg1" value="hey">
        <button ng-click="send1()" ng-disabled="isDisabled1" ng-model="isDisabled1">Send msg dev1</button>
        <span class="received-stuff">{{dev1msg}}</span>

        <br>

        <input type="text" ng-model="msg2" ng-name"msg2" value="hi">
        <button ng-click="send2()" ng-disabled="isDisabled2" ng-model="isDisabled2">Send msg dev2</button>
        <span class="received-stuff">{{dev2msg}}</span>

        <br>

        <input type="text" ng-model="msg3" ng-name"msg3" value="hey">
        <button ng-click="send3()" ng-disabled="isDisabled3" ng-model="isDisabled3">Send msg dev3</button>
        <span class="received-stuff">{{dev3msg}}</span>

        <br>

        <input type="text" ng-model="msg4" ng-name"msg4" value="hey">
        <button ng-click="send4()" ng-disabled="isDisabled4" ng-model="isDisabled4">Send msg dev1</button>
        <span class="received-stuff">{{dev4msg}}</span>

    </div>

</body>
</html>
